.sass-cache
styles/
fonts/
bootstrap
bootstrap*
bootstrap/
bootstrap/*
styles.css
bin
bin/
bin/*
include
include/
include/*
lib
lib/
lib/*
.Python
instance
instance/
instance/*
*.pyc
bower_components/
bower_components
node_modules
node_modules/
static/fonts
static/js/lib
static/styles
build
build/*
myapp/archive
main-built.js
components/
config.py

